/*body {
  background-color: white;
}*/

/*#pad {
  max-width: 640px;
  border-collapse: collapse;
}

#pad input {
  background-color: white;
  color: blue;
  border: none;
  padding: 0px;
  margin: 0px;
  width: 88px;
  height: 44px;
}

#pad input:active {
  color: white;
  background-color: blue;
}

#pad td {
  padding: 0px;
  border:thin solid blue;
}*/

