<div class="text-center">
  <div class="page-header">
      <h1><small>Auch fürs iPhone</small></h1>
  </div>
  
  <div class="row">
    <div class="col-sm-6 xs-center-sm-right">
      <div id="iphone-screenshot-video">
      	<img src="/images/vinolator_screenshot.png"></img>
      	<!--<video width="224" height="322" autoplay="" loop="">
      		<source src="/images/vinolator.mp4" type="video/mp4">
      		<source src="/images/vinolator.ogv" type="video/ogg">
      	</video>-->
      </div>
    </div>
    <br>
    <div id="appstore-link" class="col-sm-6 xs-center-sm-left">
      <a href="http://itunes.apple.com/app/vinolator/id407751085?mt=8" title="Erh&auml;ltlich im App Store">
        <img src="/images/appstore.png">
  		</a>
  		<p></p>
  		<p class="text-muted">
        *für iPhone, iPod Touch oder iPad mit iOS ab Version 4.
      </p>
    </div>
  </div>
</div>